.wrapper {
  display: flex;
  margin: 220px 0;
  justify-content: space-around;
  > section {
    border: 1px solid gray;
  }
}

.left {

  display:flex;
  flex-direction: column;
  
  &__data {
    height: 300px;
    overflow: scroll;
  }
}


.right {
  display:flex;
  flex-direction: column;

  &__result {
    border:1px solid gray;
    width: 350px;
    height: 350px;
    overflow: scroll;
  }
}


.arrow {
  font-size: 100px;
}