.wrapper {
  display: flex;
  justify-content: space-around;
  > section {
    border: 1px solid gray;
  }
}

.left {

  display:flex;
  flex-direction: column;
  width:100%;
  
  &__data {
    height: 800px;
    width:auto;
    word-break: break-all;
    overflow: scroll;
  }

  &__btn {
    margin-top: 10px;
    background-color: rgb(211, 157, 112);
  }
}


.right {
  display: flex;
  flex-direction: column;
  width:100%;
  
  &__result {
    display:flex;
    flex-direction: column;
    border: 1px solid gray;
    height:800px;
    &__tree {
      border: transparent;
      white-space: pre-wrap;
      width: auto;
      height: 90%;
      overflow: auto;
    }
  }
}



.arrow {
  font-size: 100px;
  align-self: center;
  margin: 0 20px;
}