.wrapper {
  display: flex;
  margin: 220px 0;
  justify-content: space-around;
  > section {
    border: 1px solid gray;
  }
}

.left {

  display:flex;
  flex-direction: column;
  
  &__data {
    height: 300px;
    width:auto;
    word-break: break-all;
    overflow: scroll;
  }

  &__btn {
    margin-top: 10px;
    background-color: rgb(211, 157, 112);
  }
}


.right {
  display:flex;
  flex-direction: column;

  &__result {
    border:1px solid gray;
    white-space: pre-wrap;
    width: 350px;
    height: 350px;
    overflow: auto;
  }
}


.arrow {
  font-size: 100px;
  align-self: center;
}