<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
</head>

<body>
 <container class = "wrapper">
   <div class = "left">
      <h2>JSON 데이터를 추가해주세요</h2>
      <textarea class = "left__data"></textarea>
      <input type="button" class = "left__btn" value="분석하기">
   </div>

   <div class="arrow">=></div>

   <div class = "right">
     <h2>분석결과 입니다</h2>
     <div class = "right__result">
       <div class = "right__result__tree"></div>
       <div class = "right__result__analysis"></div>
      </div>
   </div>
 </container>

  <script src="./main_bundle.js"></script>
</body>

</html>