<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %>
    </head>
    <body>
        <div class="top-container container-xl mt-3 mx-auto">
            <section class="json-container">
                <div class="json-container__title">
                    JSON 데이터를 추가해주세요
                    <div class="json-container__title__sample">
                    </div>
                </div>
                <textarea
                    class="json-container__input"
                    cols="70"
                    rows="20"
                ></textarea>
                <button class="btn btn-outline-success json-container__btn">
                    <span>분석하기</span>
                </button>
            </section>
            <section class="result-container">
                <div class="result-container__title">분석 결과입니다</div>
                <div class="result-container__result">
                    <textarea class="result-container__result__detail">
                    </textarea>
                    <div class="result-container__result__summary"></div>
                </div>
            </section>
        </div>
    </body>
</html>
